:root {
    --slider-vod-live-fill: rgba(255, 255, 255, 0.85);
    --slider-hover-fill: #FFFFFF;
    --slider-coming-fill: rgba(255, 255, 255, 0.7);

    --slider-vod-border: #DFDDDD;

    --buttons-bubbles-default-fill-default: #F4F4F4;
    --buttons-bubbles-default-fill-inactive: #FDFDFD;
    --buttons-bubbles-default-fill-icon-borders-active: #404040;
    --buttons-bubbles-default-fill-icon-borders-default: #CCCCCC;
    --buttons-bubbles-default-fill-icon-borders-inactive: #EDEDED;
}