:root {
  --text-light-primary: hsla(0, 0%, 25%, 1);
  --text-light-secondary: hsla(0, 0%, 62%, 1);
  --text-light-third: hsla(0, 0%, 75%, 1);

  --accent-primary: #D63D3D;

  --system-live: #FF6C6C;
  // Использовал кастомный градиент.
  // Сделал стандартный в 2 раза больше и сделал его симметричным, чтобы не было жестких переходов при анимации
  --system-live-highlight-gradient: linear-gradient(90deg, #456EFF 0%, #F04D4D 50%, #476FFF 100%);

  --background-light: #FFFFFF;

  --ff-base: Montserrat, Arial, sans-serif;

  --fs-text: 15px;
  --fs-text-small: 14px;

  --hard-drop-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  --small-drop-shaodw: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
