:root {
  --text-light-primary: hsla(0, 0%, 25%, 1);
  --text-light-secondary: hsla(0, 0%, 62%, 1);
  --text-light-third: hsla(0, 0%, 75%, 1);

  --accent-primary: #D63D3D;

  --system-live: #FF6C6C;
  --system-live-hightlight-gradient: linear-gradient(90deg, #456EFF 0%, #F04D4D 100%);

  --background-light: #FFFFFF;

  --ff-base: Montserrat, Arial, sans-serif;

  --fs-text: 15px;
  --fs-text-small: 14px;
}
